html, body {
    background: #c9f3c9;
    margin: 0;
    height: 100%;
    cursor: crosshair;
}


a:hover {
    cursor: crosshair;
    border-bottom: solid black;
}


.nav {
    padding-top: 5px;
    padding-right: 5px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: right;
}

.nav ul li{
    display: inline;
    margin-left: 10px;
}

.nav a{
    text-decoration: none;
    color: black;
}

.menu-main {
    margin-top: 400px;
    font-size: 50px;
    text-align: center;
}

.menu-main a {
    margin-left: 100px;
    margin-right: 100px;
    text-decoration: none;
    color: black;
}