@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
    background: url("../vendor/img/shopback.jpg") no-repeat center top fixed;
    padding: 0;
    margin: 0;
}

.content {
  min-height: calc(100vh - 50px);
}

* {
   box-sizing: border-box;
}
.product-item {
   width: 300px;
   text-align: center;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;
   background: white;
   font-family: "Open Sans";
   transition: .3s ease-in;
}
.product-item:hover {
   border-bottom: 2px solid #fc5a5a;
}
.product-item img {
   display: block;
   width: 100%;
}
.product-list {
   background: #fafafa;
   padding: 15px 0;
}
.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-item:hover .button {
   background: #fc5a5a;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.nav li {display: inline-block;}
.nav li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.nav li:last-child:after {content: none;}
.nav a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.nav a, .menu-main a:visited {color: #9d999d;}
.nav a.current, .menu-main a:hover{color: #feb386;}
.nav a:before,
.nav a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.nav a:hover:before, .menu-main .current:before {left: 0;}
.nav a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
.nav {padding-top: 0;}
.nav li {display: block;}
.nav li:after {content: none;}
.nav a {
  padding: 25px 0 20px;
  margin: 0 30px;
}
}

footer {
  background: #feb386;
  height: 50px;
}