{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Product</title>
        <link href="{% static 'css/shop.css' %}" rel="stylesheet">
    </head>
<body>
<div class="content">
    <ul class="nav">
        <li><a href="{% url 'index' %}" class="current">Main</a></li>
        <li><a href="{% url 'gallery:index' %}">Gallery</a></li>
    </ul>

    {% for category in categories %}

    <a href="{% url 'shop:by_category' category.pk %}">{{ category.name }}</a>

    {% endfor %}

    <div class="product-item">
    {% for product in products %}
    <img src="/media/{{ product.image }}" alt="">
  <div class="product-list">
    <h3>{{ product.name }}</h3>
    <span class="price">{{ product.price }}</span>
    <a href="" class="button">В корзину</a>
  </div>
        {% endfor %}
    </div>
</div>

<footer>
    <p> poopa </p>
</footer>
</body>
</html>